.posts {
	margin: 20px;
}

.card {
	margin: 20px 40px 0 0;
	padding: 10px 15px 20px;
	border: 1px solid #000;
}

.card a {
	text-decoration: none;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px 10px;
	color: #000;

}